---
import Card from './Card.astro'
import { changeLanguage, t } from 'i18next'

const talks = [
	{
		title: t('talks.uca_2.title'),
		date: '2024',
		location: 'Universite Nice Sophia Antipolis',
		href: 'https://gdsc.community.dev/events/details/developer-student-clubs-cote-dazur-university-presents-workshop-initiation-a-golang/',
		description: t('talks.uca_2.description'),
		cta: t('talks.learn_more')
	},
	{
		title: t('talks.uca_1.title'),
		date: '2023',
		location: 'Universite Nice Sophia Antipolis',
		href: 'https://gdsc.community.dev/events/details/developer-student-clubs-cote-dazur-university-presents-introduction-aux-microservices-avec-go/',
		description: t('talks.uca_1.description'),
		cta: t('talks.learn_more')
	},
	{
		title: t('talks.demi_siecle.title'),
		date: '2023',
		location: 'Demi-Siècle',
		description: t('talks.demi_siecle.description')
	}
]

const podcasts = [
	{
		title: t('talks.avocado_1.title'),
		date: '2023',
		location: 'Avocado Growth : Portrait tech',
		description: t('talks.avocado_1.description'),
		cta: t('talks.coming_soon')
	}
]

changeLanguage('en')

export const prerender = true
---

<div
	aria-labelledby={t('talks.talks')}
	class='md:border-secondary-100 mt-20 py-10 md:border-l md:pl-6'
>
	<div class='grid max-w-3xl grid-cols-1 items-baseline gap-y-8 md:grid-cols-4'>
		<h2 class='text-sm font-semibold'>{t('talks.talks')}</h2>
		<div class='md:col-span-3'>
			<div class='space-y-16'>
				{talks.map((talk) => <Card {...talk} />)}
			</div>
		</div>
	</div>
</div>

<div
	aria-labelledby={t('talks.podcasts')}
	class='md:border-secondary-100 mt-20 py-10 md:border-l md:pl-6'
>
	<div class='grid max-w-3xl grid-cols-1 items-baseline gap-y-8 md:grid-cols-4'>
		<h2 class='text-sm font-semibold'>{t('talks.podcasts')}</h2>
		<div class='md:col-span-3'>
			<div class='space-y-16'>
				{podcasts.map((talk) => <Card {...talk} />)}
			</div>
		</div>
	</div>
</div>
