---
import Card from './Card.astro'

const talks = [
	{
		title: 'Workshop: Introduction to Go',
		date: '2024',
		location: 'Universite Nice Sophia Antipolis',
		href: 'https://gdsc.community.dev/events/details/developer-student-clubs-cote-dazur-university-presents-workshop-initiation-a-golang/',
		description: 'A workshop about Go, and how to get started with it.',
		cta: 'Learn more'
	},
	{
		title: 'Introduction to Microservices with Go',
		date: '2023',
		location: 'Universite Nice Sophia Antipolis',
		href: 'https://gdsc.community.dev/events/details/developer-student-clubs-cote-dazur-university-presents-introduction-aux-microservices-avec-go/',
		description: 'A talk about microservices, and how to build them with Go.',
		cta: 'Learn more'
	},
	{
		title: 'Introduction to AI and Ethical considerations',
		date: '2023',
		location: 'Demi-Siècle',
		description: 'A private talk about AI and its ethical considerations.'
	}
]

export const prerender = true
---

<section class='bg-base-200'>
	<div class='lg:py-15 mx-auto w-full max-w-7xl py-6 md:py-10 lg:px-8'>
		<div class='relative px-4 sm:px-8 lg:px-12'>
			<div class='relative flex flex-col items-center'>
				<p class='mt-4 text-xl'>I participated in several talks about computer science</p>
			</div>

			<div
				class='mx-auto grid w-full grid-cols-1 gap-6 pt-12 sm:w-3/4 lg:w-full lg:grid-cols-3 xl:gap-10'
			>
				{talks.map((talk) => <Card {...talk} />)}
			</div>
		</div>
	</div>
</section>
