---
import { changeLanguage, t } from 'i18next'
import { BlogPosts } from '../../../utils/blog'
import CardLatest from '../../components/blog/CardLatest.astro'
import CardPrevious from '../../components/blog/CardPrevious.astro'
import Layout from '../../layouts/Layout.astro'
import { Icon } from 'astro-iconify'

changeLanguage('fr')

const latest = BlogPosts.blogPosts.slice(0, 1)
const blogPosts = BlogPosts.blogPosts.slice(1)
export const prerender = true
---

<Layout title='CorentinGS'>
	<div
		class='hoveranimation btn btn-accent btn-sm fixed bottom-5 right-5 hidden'
		id='btn-back-to-top'
	>
		<Icon name='lucide:arrow-up' class='size-6' />
	</div>
	<div class='lg:py-15 mx-auto w-full max-w-7xl py-6 md:py-10 lg:px-8'>
		<div class='header mb-6 flex items-end justify-between'>
			<div class='title'>
				<p class='mb-3 text-4xl font-bold'>{t('blog.title')}</p>
				<p class='text-2xl font-light'>{t('blog.description')}</p>
			</div>
		</div>
		<div>
			{
				latest.map((last) => (
					<article>
						<a href={last.link} data-astro-prefetch='hover' rel='bookmark'>
							<CardLatest blogPost={last} />
						</a>
					</article>
				))
			}
		</div>
		<div>
			<div class='title'>
				<p class='my-4 text-4xl font-bold'>{t('blog.previous')}</p>
			</div>
			{
				blogPosts.map((blogPost) => (
					<article>
						<a href={blogPost.link} data-astro-prefetch='tap' rel='bookmark'>
							<CardPrevious blogPost={blogPost} />
						</a>
					</article>
				))
			}
		</div>
	</div>
</Layout>

<script type='text/javascript'>
	document.addEventListener(
		'astro:page-load',
		() => {
			const backToTop = () => {
				window.scrollTo({ top: 0, behavior: 'smooth' })
			}

			const onScroll = (button) => {
				if (document.body.scrollTop > 10 || document.documentElement.scrollTop > 10) {
					button.classList.remove('hidden')
					console.log('show')
				} else {
					button.classList.add('hidden')
					console.log('hide')
				}
			}

			// This only runs once.
			mybutton = document.getElementById('btn-back-to-top')
			// When the user clicks on the button, scroll to the top of the document
			mybutton.addEventListener('click', backToTop)
			window.addEventListener('scroll', onScroll(mybutton))
		},
		{ once: true }
	)
</script>
