---
import Layout from '../../layouts/Layout.astro'
import '../../styles/global.css'
import { Icon } from 'astro-iconify'
import { t, changeLanguage } from 'i18next'

changeLanguage('fr')

export const prerender = true
---

<Layout title='CorentinGS'>
	<section class=''>
		<div class='container mx-auto px-5 py-24'>
			<div class='mb-20 text-center'>
				<h1 class='mb-4 text-center text-2xl font-bold sm:text-3xl'>
					{t('contacts.title')}
				</h1>
			</div>
			<div class='-mx-2 flex flex-wrap sm:mx-auto sm:mb-2 lg:w-4/5'>
				<div class='w-full p-2 sm:w-1/2'>
					<a
						href='/discord'
						rel='noopener noreferrer nofollow prefetch'
						target='_blank'
						class='hoveranimation group flex h-full items-center rounded bg-base-200 p-4 hover:bg-primary hover:text-primary-content'
					>
						<Icon name='la:discord' class='mr-4 size-7 flex-shrink-0' />

						<span class='title-font font-medium decoration-accent group-hover:underline'
							>The Kafejo</span
						>
					</a>
				</div>
				<div class='w-full p-2 sm:w-1/2'>
					<a
						href='https://hachyderm.io/@TheLittlePrince'
						target='_blank'
						rel='me noopener noreferrer'
						class='hoveranimation bounce-short group flex h-full items-center rounded bg-base-200 p-4 hover:bg-primary hover:text-primary-content'
					>
						<Icon name='la:mastodon' class='mr-4 size-7 flex-shrink-0' />
						<span class='title-font font-medium decoration-accent group-hover:underline'
							>@TheLittlePrince@hachyderm.io
						</span>
					</a>
				</div>
				<div class='w-full p-2 sm:w-1/2'>
					<a
						href='https://twitter.com/GSCorentinDev'
						target='_blank'
						rel='noopener noreferrer'
						class='hoveranimation group flex h-full items-center rounded bg-base-200 p-4 hover:bg-primary hover:text-primary-content'
					>
						<Icon name='lucide:twitter' class='mr-4 size-7 flex-shrink-0' />

						<span class='title-font font-medium decoration-accent group-hover:underline'
							>@GSCorentinDev</span
						>
					</a>
				</div>
				<div class='w-full p-2 sm:w-1/2'>
					<a
						href='https://github.com/corentings'
						target='_blank'
						rel='noopener noreferrer'
						class='hoveranimation group flex h-full items-center rounded bg-base-200 p-4 hover:bg-primary hover:text-primary-content'
					>
						<Icon name='lucide:github' class='mr-4 size-7 flex-shrink-0' />

						<span class='title-font font-medium decoration-accent group-hover:underline'
							>@CorentinGS</span
						>
					</a>
				</div>
				<div class='w-full p-2 sm:w-1/2'>
					<a
						href='/blog'
						rel='noopener noreferrer nofollow prefetch'
						target='_blank'
						class='hoveranimation group flex h-full items-center rounded bg-base-200 p-4 hover:bg-primary hover:text-primary-content'
					>
						<Icon name='lucide:book' class='mr-4 size-7 flex-shrink-0' />

						<span class='title-font font-medium decoration-accent group-hover:underline'
							>{t('contacts.blog')}</span
						>
					</a>
				</div>
				<div class='w-full p-2 sm:w-1/2'>
					<a
						href='https://www.linkedin.com/in/corentin-giaufer-saubert/'
						target='_blank'
						rel='noopener noreferrer'
						class='hoveranimation group flex h-full items-center rounded bg-base-200 p-4 hover:bg-primary hover:text-primary-content'
					>
						<Icon name='lucide:linkedin' class='mr-4 size-7 flex-shrink-0' />

						<span class='title-font font-medium decoration-accent group-hover:underline'
							>Corentin Giaufer--Saubert</span
						>
					</a>
				</div>
			</div>
			<div class='container mx-auto mt-10 w-[90%] md:w-[70%] lg:w-[41%]'>
				<div class='alert alert-info animate-bounce-short shadow-lg'>
					<Icon name='lucide:info' class='mr-4 size-6 flex-shrink-0' />
					<div>
						<h3 class='font-bold'>{t('contacts.notif_title')}</h3>
						<div class='text-xs'>{t('contacts.notif_content')}</div>
					</div>
					<div>
						<a
							target='_blank'
							rel='noopener noreferrer nofollow'
							href='https://discord.com/invite/wc4PQsd7eE'
							class='hoveranimation btn btn-accent btn-md'
						>
							<Icon name='lucide:arrow-right' class='size-6' />
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</Layout>

<style></style>
