---
import Layout from 'src/layouts/Layout.astro'
import ListPosts from 'src/components/blog/ListPosts.astro'
import { getPosts } from '@/utils'
import ListCategories from 'src/components/blog/ListCategories.astro'

const posts = await getPosts(10)
export const prerender = true
---

<Layout title='Blog'>
	<div class='lg:py-15 mx-auto w-full max-w-7xl py-6 md:py-10 lg:px-8'>
		<div class='header py-2 mb-3 flex items-end justify-between'>
			<div class='title'>
				<h1 class='text-5xl font-bold first-letter:uppercase'>My Articles</h1>
			</div>
		</div>

		<ListCategories />
		<h2 class='text-lg font-medium tracking-wide text-end'>Latest articles</h2>
		<ListPosts FirstBig={true} posts={posts} />
	</div>
</Layout>
