@import 'tailwindcss';

@config '../../tailwind.config.cjs';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
	html {
		font-family: 'Rubik Variable', 'Inter', 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial,
			sans-serif;
	}

	h1 {
		font-family: 'Syne Variable', Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro,
			sans-serif;
	}

	h2 {
		font-family: 'Rubik Variable', Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro,
			sans-serif;
		font-size: 2rem;
	}
}
