---
import Layout from '../layouts/Layout.astro'

export const prerender = true
---

<Layout title='404' description='Page not found'>
	<section class='text-zinc-700 dark:text-zinc-300'>
		<div class='py-8 px-4 mx-auto max-w-(--breakpoint-xl) lg:py-16 lg:px-6'>
			<div class='mx-auto max-w-(--breakpoint-sm) text-center'>
				<h1
					class='mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600 dark:text-primary-500'
				>
					404
				</h1>
				<p class='mb-4 text-3xl tracking-tight font-bold md:text-4xl'>Something's missing.</p>
				<p class='mb-4 text-lg font-light'>
					Sorry, we can't find that page. You'll find lots to explore on the home page.
				</p>
				<a href='/' class='text-teal-600 dark:text-teal-400'>Back to Homepage</a>
			</div>
		</div>
	</section>
</Layout>
