---
import { changeLanguage } from "i18next";

changeLanguage("en");
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Redirecting to The Kafejo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta http-equiv="refresh" content="0; URL=https://discord.gg/wc4PQsd7eE" />
    <link rel="canonical" href="https://discord.gg/wc4PQsd7eE" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="description" content="CorentinGS - Personal website" />
    <meta name="og:title" content="CorentinGS - Freelance backend developer" />
    <meta
      name="og:description"
      content="Personal blog - Freelance backend developer"
    />
    <meta name="og:type" content="website" />
    <meta name="og:url" content="https://corentings.dev/" />
    <meta
      name="og:image"
      content="https://raw.githubusercontent.com/CorentinGS/CorentinGS/main/Banner-metatags.png"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://corentings.dev/" />
    <meta name="twitter:creator" content="@CorentinGS" />
    <meta
      name="twitter:title"
      content="CorentinGS - Freelance backend developer"
    />
    <meta
      name="twitter:description"
      content="Personal Blog - Freelance backend developer"
    />
    <meta
      name="twitter:image"
      content="https://raw.githubusercontent.com/CorentinGS/CorentinGS/main/Banner-metatags.png"
    />
  </head>
  <body style="text-align: center">
    Redirecting to <a
      href="https://discord.gg/wc4PQsd7eE"
      rel="noopener noreferrer nofollow">https://discord.gg/wc4PQsd7eE</a
    >
  </body>
</html>
