---
import { Icon } from "astro-iconify";

import {t} from "i18next";
---

<section class="lg:py-15 py-6 md:py-10 mx-auto w-full max-w-7xl lg:px-8">
    <div class="container mx-auto px-5 py-24">
        <div class="mb-20 text-center">
            <h1 class="mb-4 text-center text-2xl font-bold sm:text-3xl">
                {t('contacts.title')}
            </h1>
        </div>
        <div class="-mx-2 flex flex-wrap sm:mx-auto sm:mb-2 lg:w-4/5">
            <div class="w-full p-2 sm:w-1/2">
                <a
                        href="/discord"
                        rel="noopener noreferrer nofollow prefetch"
                        target="_blank"
                        class="hoveranimation group flex h-full items-center rounded bg-base-200 p-4 hover:bg-primary hover:text-primary-content"
                >
                    <Icon name="la:discord" class="mr-4 h-7 w-7 flex-shrink-0" />

                    <span class="title-font font-medium decoration-accent group-hover:underline"
                    >The Kafejo</span
                    >
                </a>
            </div>
            <div class="w-full p-2 sm:w-1/2">
                <a
                        href="https://hachyderm.io/@TheLittlePrince"
                        target="_blank"
                        rel="me noopener noreferrer"
                        class="hoveranimation bounce-short group flex h-full items-center rounded bg-base-200 p-4 hover:bg-primary hover:text-primary-content"
                >
                    <Icon name="la:mastodon" class="mr-4 h-7 w-7 flex-shrink-0" />
                    <span class="title-font font-medium decoration-accent group-hover:underline"
                    >@TheLittlePrince@hachyderm.io
						</span>
                </a>
            </div>
            <div class="w-full p-2 sm:w-1/2">
                <a
                        href="https://twitter.com/GSCorentinDev"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="hoveranimation group flex h-full items-center rounded bg-base-200 p-4 hover:bg-primary hover:text-primary-content"
                >
                    <Icon name="lucide:twitter" class="mr-4 h-7 w-7 flex-shrink-0" />

                    <span class="title-font font-medium decoration-accent group-hover:underline"
                    >@GSCorentinDev</span
                    >
                </a>
            </div>
            <div class="w-full p-2 sm:w-1/2">
                <a
                        href="https://github.com/corentings"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="hoveranimation group flex h-full items-center rounded bg-base-200 p-4 hover:bg-primary hover:text-primary-content"
                >
                    <Icon name="lucide:github" class="mr-4 h-7 w-7 flex-shrink-0" />

                    <span class="title-font font-medium decoration-accent group-hover:underline"
                    >@CorentinGS</span
                    >
                </a>
            </div>
            <div class="w-full p-2 sm:w-1/2">
                <a
                        href="/blog"
                        rel="noopener noreferrer nofollow prefetch"
                        target="_blank"
                        class="hoveranimation group flex h-full items-center rounded bg-base-200 p-4 hover:bg-primary hover:text-primary-content"
                >
                    <Icon name="lucide:book" class="mr-4 h-7 w-7 flex-shrink-0" />

                    <span class="title-font font-medium decoration-accent group-hover:underline"
                    >{t('contacts.blog')}</span
                    >
                </a>
            </div>
            <div class="w-full p-2 sm:w-1/2">
                <a
                        href="https://www.linkedin.com/in/corentin-giaufer-saubert/"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="hoveranimation group flex h-full items-center rounded bg-base-200 p-4 hover:bg-primary hover:text-primary-content"
                >
                    <Icon name="lucide:linkedin" class="mr-4 h-7 w-7 flex-shrink-0" />

                    <span class="title-font font-medium decoration-accent group-hover:underline"
                    >Corentin Giaufer--Saubert</span
                    >
                </a>
            </div>
        </div>
    </div>
</section>