---
import { Picture } from 'astro:assets'
import imgTalk from '../assets/talk1.webp'
---

<div class='sm:px-8 mt-6'>
	<div class='mx-auto w-full max-w-7xl lg:px-8'>
		<div class='relative px-4 sm:px-8 lg:px-12'>
			<div
				class='mx-auto flex max-w-2xl flex-col items-end justify-between gap-16 lg:max-w-5xl lg:flex-row'
			>
				<div class='w-full lg:max-w-lg lg:flex-auto'>
					<h2 class='text-xl font-bold tracking-tight text-zinc-800 sm:text-2xl dark:text-zinc-100'>
						My expertise
					</h2>
					<p
						class='mt-8 text-pretty text-lg font-medium text-zinc-600 dark:text-zinc-400 sm:text-xl/8'
					>
						I'm a freelance backend developer and I've been working on several projects for the past
						years.
					</p>

					<Picture
						alt=''
						loading='lazy'
						width='1024'
						height='1024'
						formats={['avif', 'webp']}
						decoding='async'
						quality='60'
						class='mt-16 aspect-[6/5] w-full rounded-2xl bg-gray-50 object-cover object-top grayscale lg:aspect-auto lg:h-[28.5rem]'
						src={imgTalk}
					/>
				</div>
				<div class='w-full lg:max-w-xl lg:flex-auto'>
					<h3 class='sr-only'>List of proposed services</h3>
					<ul class='-my-8 divide-y divide-zinc-100'>
						<li class='py-8'>
							<dl class='relative flex flex-wrap gap-x-3'>
								<dt class='sr-only'>Service</dt>
								<dd
									class='w-full flex-none text-lg font-semibold tracking-tight text-zinc-800 dark:text-zinc-200'
								>
									<div>
										Expert Backend Solutions
										<span class='absolute inset-0' aria-hidden='true'></span>
									</div>
								</dd>
								<dt class='sr-only'>Description</dt>
								<dd
									class='mt-2 w-full flex-none text-pretty text-base/7 font-medium text-zinc-600 dark:text-zinc-400'
								>
									Do you need high-quality backend solutions? As an experienced Golang developer, I
									craft robust backends with high unit/integration test coverage, ensuring excellent
									performance with fast deployment and a small binary.
								</dd>
							</dl>
						</li>
						<li class='py-8'>
							<dl class='relative flex flex-wrap gap-x-3'>
								<dt class='sr-only'>Service</dt>
								<dd
									class='w-full flex-none text-lg font-semibold tracking-tight text-zinc-800 dark:text-zinc-200'
								>
									<div>
										Low-JS, High-Performance Websites
										<span class='absolute inset-0' aria-hidden='true'></span>
									</div>
								</dd>
								<dt class='sr-only'>Description</dt>
								<dd
									class='mt-2 w-full flex-none text-pretty text-base/7 font-medium text-zinc-600 dark:text-zinc-400'
								>
									Want captivating, low-footprint websites? I create visually stunning, highly
									performant sites using Astro and HTMX. These technologies are perfect for
									cost-effective solutions that don't sacrifice speed or functionality.
								</dd>
							</dl>
						</li>
					</ul>
					<div class='mt-8 flex border-t border-gray-100 pt-8'>
						<a href='/resume' class='text-sm/6 font-semibold text-teal-400 hover:text-teal-500'>
							View my experiences <span aria-hidden='true'>&rarr;</span></a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
