---
interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<li class='group mt-10 first:mt-0'>
	<div style='opacity: 1; transform: none;'>
		<div
			class='relative pt-10 before:absolute before:left-0 before:top-0 before:h-px before:w-6
        before:bg-accent after:absolute after:left-8 after:right-0 after:top-0 after:h-px after:bg-accent/10 group-first:pt-0 group-first:before:hidden group-first:after:hidden'
		>
			<strong class='font-semibold text-accent/80'>{title}</strong>{'・'}{description}
		</div>
	</div>
</li>
