---
import { Icon } from 'astro-icon/components'
---

<div class='py-16 sm:py-24 mx-auto w-full max-w-7xl lg:px-8'>
	<div class='mx-auto px-6 lg:px-8'>
		<div
			class='mx-auto grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-12 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:grid-cols-5'
		>
			<Icon
				name='fa6-brands:golang'
				class='col-span-2 h-14 w-full object-contain lg:col-span-1 text-zinc-800 dark:text-zinc-200'
			/>
			<Icon
				name='fa6-brands:docker'
				class='col-span-2 h-14 w-full object-contain lg:col-span-1 text-zinc-800 dark:text-zinc-200'
			/>
			<Icon
				name='fa6-brands:python'
				class='col-span-2 h-14 w-full object-contain lg:col-span-1 text-zinc-800 dark:text-zinc-200'
			/>
			<Icon
				name='fa6-brands:linux'
				class='col-span-2 h-14 w-full object-contain lg:col-span-1 text-zinc-800 dark:text-zinc-200'
			/>
			<Icon
				name='simple-icons:htmx'
				class='col-span-2 h-14 w-full object-contain lg:col-span-1 text-zinc-800 dark:text-zinc-200'
			/>
		</div>
	</div>
</div>
