---
import { Icon } from 'astro-icon/components'
---

<section class='relative bg-white dark:bg-zinc-900' aria-labelledby='skills-heading'>
	<div class='mx-auto max-w-7xl px-6 py-24 lg:px-8'>
		<header>
			<h2 id='skills-heading' class='sr-only'>Technical Skills</h2>
		</header>

		<div
			class='mt-12 grid grid-cols-2 gap-x-6 gap-y-8 sm:grid-cols-3 sm:gap-x-8 sm:gap-y-10 lg:grid-cols-5 lg:gap-x-10'
		>
			<Icon
				name='fa6-brands:golang'
				class='h-14 w-full object-contain text-zinc-800 dark:text-zinc-200 transition-colors duration-200 hover:text-teal-500 dark:hover:text-teal-400'
				aria-label='Golang Programming Language'
				role='img'
			/>
			<Icon
				name='fa6-brands:docker'
				class='h-14 w-full object-contain text-zinc-800 dark:text-zinc-200 transition-colors duration-200 hover:text-teal-500 dark:hover:text-teal-400'
				aria-label='Docker Containerization'
				role='img'
			/>
			<Icon
				name='fa6-brands:linux'
				class='h-14 w-full object-contain text-zinc-800 dark:text-zinc-200 transition-colors duration-200 hover:text-teal-500 dark:hover:text-teal-400'
				aria-label='Linux Operating System'
				role='img'
			/>
			<Icon
				name='simple-icons:csharp'
				class='h-14 w-full object-contain text-zinc-800 dark:text-zinc-200 transition-colors duration-200 hover:text-teal-500 dark:hover:text-teal-400'
				aria-label='C# .net core'
				role='img'
			/>
			<Icon
				name='simple-icons:htmx'
				class='h-14 w-full object-contain text-zinc-800 dark:text-zinc-200 transition-colors duration-200 hover:text-teal-500 dark:hover:text-teal-400'
				aria-label='HTMX Framework'
				role='img'
			/>
		</div>
	</div>
</section>
