---
import type { CollectionEntry } from 'astro:content'

import { getPosts } from '../utils'

const posts: CollectionEntry<'blog'>[] = await getPostsWithoutFuture(3)
import { Picture } from 'astro:assets'
import { getPostsWithoutFuture } from '../utils/post'
---

<div class='sm:px-8 mt-16'>
	<div class='mx-auto w-full max-w-7xl lg:px-8'>
		<div class='relative px-4 sm:px-8 lg:px-12'>
			<div class='mx-auto max-w-2xl lg:max-w-5xl'>
				<div class='max-w-2xl'>
					<h2 class='text-xl font-bold tracking-tight text-zinc-800 sm:text-2xl dark:text-zinc-100'>
						My latest articles
					</h2>
					<p
						class='mt-8 text-pretty text-lg font-medium text-zinc-600 dark:text-zinc-400 sm:text-xl/8'
					>
						Here are some of my latest articles. I write about programming, chess and more.
					</p>

					<div class='mt-8 space-y-20 lg:mt-12 lg:space-y-20'>
						{
							posts.map(async (post, index) => {
								return (
									<article class='relative isolate flex flex-col gap-8 lg:flex-row'>
										<div class='relative w-full lg:w-64 lg:shrink-0'>
											{' '}
											<Picture
												src={post.data.heroImage}
												alt=''
												class='rounded-2xl bg-gray-50 object-cover aspect-video w-full sm:aspect-[2/1] lg:aspect-[3/2] max-h-56'
												loading={index < 2 ? 'eager' : 'lazy'}
												width={400}
												height={400}
												formats={['avif', 'webp', 'jpeg']}
											/>
											<div class='absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10' />
										</div>
										<div>
											<div class='flex items-center gap-x-4 text-xs'>
												<time
													datetime={post.data.pubDate.toLocaleDateString()}
													class='text-zinc-600 dark:text-zinc-400'
												>
													{post.data.pubDate.toLocaleDateString('en-us', {
														year: 'numeric',
														month: 'short',
														day: 'numeric'
													})}{' '}
												</time>
											</div>
											<div class='group relative max-w-xl'>
												<h3 class='mt-3 text-lg/6 font-semibold text-zinc-800 dark:text-zinc-100'>
													<a href={'/blog/' + post.slug}>
														<span class='absolute inset-0' />
														{post.data.title}
													</a>
												</h3>
												<p class='mt-5 text-sm/6 text-zinc-600 dark:text-zinc-400'>
													{post.data.description}
												</p>
											</div>
										</div>
									</article>
								)
							})
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
