---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import Experiences from "../../components/Experiences.astro";
import Footer from "../../components/utils/Footer.astro";
import { Icon } from "astro-iconify";

changeLanguage("de");

export const prerender = true;
---

<Layout title='CorentinGS'>
	<div
		class='hoveranimation btn btn-accent btn-sm fixed bottom-12 right-5 z-50 hidden'
		id='btn-back-to-top'
		transition:persist
	>
		<Icon name='lucide:arrow-up' class='size-6' />
	</div>
	<Experiences />
	<Footer />
</Layout>

<style></style>

<script type='text/javascript'>
	document.addEventListener('astro:page-load', () => {
		const backToTop = () => {
			window.scrollTo({ top: 0, behavior: 'smooth' })
		}

		// This only runs once.
		mybutton = document.getElementById('btn-back-to-top')
		mybutton.addEventListener('click', backToTop)

		// Hide button when not needed
		window.onscroll = function () {
			if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
				mybutton.classList.remove('hidden')
			} else {
				mybutton.classList.add('hidden')
			}
		}
	})
</script>
