---
import { t, changeLanguage } from 'i18next'
import Layout from '../../layouts/Layout.astro'
import Footer from '../../components/utils/Footer.astro'
import Talks from '../../components/talks/Talks.astro'
import { Icon } from 'astro-iconify'

changeLanguage('de')

export const prerender = true
---

<Layout title='Talks'>
	<div
		class='hoveranimation btn btn-accent btn-sm fixed bottom-12 right-5 z-50 hidden'
		id='btn-back-to-top'
		transition:persist
	>
		<Icon name='lucide:arrow-up' class='size-6' />
	</div>
	<section class='lg:py-15 mx-auto w-full max-w-7xl py-6 md:py-10 lg:px-8'>
		<div class='relative px-4 sm:px-8 lg:px-12'>
			<div class='relative flex flex-col'>
				<h2 class='text-2xl font-bold md:text-3xl lg:text-5xl'>
					{t('talks.title')}
				</h2>
				<p class='mt-8 text-xl'>
					{t('talks.description')}
					🎙️✨
				</p>
			</div>
		</div>
	</section>
	<section class='mx-auto w-full max-w-7xl pb-10 lg:px-8'>
		<div class='relative px-4 sm:px-8 lg:px-12'>
			<Talks />
		</div>
	</section>
	<Footer />
</Layout>

<script type='text/javascript'>
	document.addEventListener('astro:page-load', () => {
		const backToTop = () => {
			window.scrollTo({ top: 0, behavior: 'smooth' })
		}

		// This only runs once.
		mybutton = document.getElementById('btn-back-to-top')
		mybutton.addEventListener('click', backToTop)

		// Hide button when not needed
		window.onscroll = function () {
			if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
				mybutton.classList.remove('hidden')
			} else {
				mybutton.classList.add('hidden')
			}
		}
	})
</script>
