---
import { siteConfig } from '@/data/site.config'
const message = siteConfig.shareMessage
import { Icon } from 'astro-iconify'

const URL = Astro.url.href
---

<div class='flex flex-col gap-2'>
	<span class='mb-1 font-bold text-2xl'>Share</span>
	<ul class='flex gap-3'>
		<li>
			<a
				href={`https://twitter.com/intent/tweet?text=${message + ' ' + URL}`}
				aria-label='Share on Twitter'
			>
				<Icon name='ri:twitter-x-fill' class='hoveranimation size-6' />
			</a>
		</li>
		<li>
			<a
				href={`https://www.linkedin.com/shareArticle?mini=true&url=${URL}`}
				aria-label='Share on LinkedIn'
			>
				<Icon name='lucide:linkedin' class='hoveranimation size-6' />
			</a>
		</li>
	</ul>
</div>
