---
export interface Props {
	tag: string
}
const { tag } = Astro.props
---

<div>
	<span
		class='bg-teal-700/70 font-semibold shadow-sm text-sm w-fit px-2 py-1 md:px-5 md:py-2 rounded-full text-zinc-200'
	>
		{tag ?? 'Blog Tag'}
	</span>
</div>
