---
import { Image } from '@astrojs/image/components';
import LucideChevronRight from '~icons/lucide/chevron-right'

const { name, stack, description, link, image, reversed } = Astro.props;


---

<div class="mb-8 flex flex-col sm:flex-row">
    <div
      class={reversed ? 'sm:order-last mb-8 flex items-center sm:w-1/2 md:w-5/12' : 'mb-8 flex items-center sm:w-1/2 md:w-5/12'}
    >
      <Image
        alt={name}
        src={image}
        class="rounded-lg shadow-xl hover:skew-y-3 hover:scale-110 hover:shadow-2xl"
        fit="cover"
        format="avif"
        loading="lazy"
        quality="70"
        width="400"
        aspectRatio="1/1"
      />
    </div>
    <div
      class="mt-5 mb-8 flex flex-col justify-center sm:w-1/2 sm:pr-16 md:mt-0 md:w-7/12"
    >
      <div class="mb-2 flex">
        <p class="text-sm font-semibold uppercase text-secondary">Made using</p>
        <LucideChevronRight />
        <p class="text-sm font-semibold uppercase">{ stack }</p>
      </div>
      <h3 class="mt-2 text-2xl sm:text-left md:text-4xl">{ name }</h3>
      <p class="text mt-5 text-lg md:text-left">{ description }</p>
      <div class="flex">
        <a href={link} class="flex text-secondary hover:text-primary">
          <span>Learn more</span>
        </a>
      </div>
    </div>
  </div>