---
interface Props {
    title: string
    description: string
    image: string
    name: string
    job: string
}

const { title, description, image, name, job }= Astro.props

---

<div class="p-8 border rounded-lg border-base-content/70">
    <p class="leading-loose text-gray-500 dark:text-gray-400">
        “{description}”
    </p>

    <div class="flex items-center mt-8 -mx-2">
        <img class="object-cover mx-2 rounded-full w-14 shrink-0 h-14 ring-4 ring-base-content/20"
             src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="">

        <div class="mx-2">
            <h1 class="font-semibold ">{name}</h1>
            <span class="text-sm text-base-content/70">{title}, {job}</span>
        </div>
    </div>
</div>