---
import Header from '../components/utils/Header.astro'
import BaseHead from '../components/utils/BaseHead.astro'

export interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang='en' class='scroll-smooth'>
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<main transition:animate='fade'>
			<!-- Navbar -->
			<Header lang={true} />
			<!-- Page Slot -->
			<slot />

			<input type='checkbox' id='my-modal-6' class='modal-toggle' />
			<label for='my-modal-6' class='modal modal-bottom cursor-pointer sm:modal-middle'>
				<label class='modal-box relative' for=''>
					<ul class='menu w-80 overflow-y-auto bg-base-100 p-4'>
						<li>
							<a href='/projects' data-astro-prefetch='tap' class='text-md font-semibold leading-6'
								>Projects</a
							>
						</li>
						<li>
							<a
								href='/experiences'
								data-astro-prefetch='tap'
								class='text-md font-semibold leading-6'>Experiences</a
							>
						</li>
						<li>
							<a href='/blog' data-astro-prefetch='tap' class='text-md font-semibold leading-6'
								>Articles</a
							>
						</li>
					</ul>
				</label>
			</label>
		</main>
	</body>
</html>
