---
import { Profile } from "../../../utils/config"
import ThemeSwitcher from "./ThemeSwitcher.astro"
import { LanguageSelector } from "astro-i18next/components"
import { t } from "i18next"
import { localizePath } from "astro-i18next"

const profile = Profile
const { lang } = Astro.props

export const prerender = true
---

<div class="navbar bg-base-200">
  <div class="navbar-start">
      <label for="my-modal-6" class="btn btn-ghost lg:hidden">
          <svg
              class="inline-block h-6 w-6 stroke-current"
              fill="none"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
          >
            <path
                d="M4 6h16M4 12h16M4 18h16"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"></path>
          </svg>
        </label>


    <a
      class="hoveranimation btn-ghost btn text-xl normal-case lg:text-3xl"
      href={localizePath("/")}
      rel="prefetch"
      ><h1 class="font-bold text-primary">
        {profile.short_name}
      </h1>
    </a>
  </div>
  <div class="navbar-end hidden text-xl lg:flex">
    <ul class="menu menu-horizontal p-0">
      {
        lang ? (
          <li class="px-3">
            <LanguageSelector
              showFlag={true}
              class="my-select-class select-bordered select-secondary select select-md w-full max-w-xs bg-base-200 text-base-content"
            />
          </li>
        ) : null
      }
      <li class="px-3">
        <ThemeSwitcher />
      </li>
      <li>
        <a
          class="hoveranimation hover:text-accent"
          rel="nofollow prefetch"
          href={localizePath("/blog")}
        >
          {t("navbar.blog")}
        </a>
      </li>
      <li>
        <a
          class="hoveranimation hover:text-accent"
          rel="nofollow prefetch"
          href={localizePath("/links")}
        >
          {t("navbar.links")}
        </a>
      </li>
    </ul>
  </div>
</div>

<style></style>
